@model IEnumerable<AirlineManagement.Models.Airline>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirlineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirlineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AirlineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AirlineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AirlineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
